# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar
composer.lock

# Build data
/build/
/*.php
/*.svg
/*.ico
/*.png
/browserconfig.xml
/manifest.json
/site.webmanifest